:root {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  /* color:red */
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;body
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
