:root {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(38, 38, 38);
  --main-border:rgb(240, 240, 240);
  --icon-color:rgb(38, 38, 38);
  --link-color:rgb(38, 38, 38);
  --gray-color:rgb(140, 140, 140);
  --blue-color:rgb(105, 177, 255);
  --table-header:#f5f5f5;
  --btn-primary-contained:rgb(38, 38, 38);
  --btn-disable:rgb(220, 220, 220)
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;body
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
